<h2>
  <%= name %>
</h2>
<p>
  <%= desc %>
</p>
<pre><%= method %> &emsp; <%= url %></pre>
<section <%= urlParams.length>0 ? '' : 'style="display:none"'%> >
  <p>URL参数</p>
  <table>
    <tr>
      <td>参数</td>
      <td>说明</td>
    </tr>
    <% urlParams.forEach(it => { %>
      <tr>
        <td>
          <%= it.name %>
        </td>
        <td>
          <%= it.remark %>
        </td>
      </tr>
      <% }) %>
  </table>
</section>
<section <%= requestParams.length>0 ? '' : 'style="display:none"'%> >
  <p>请求参数</p>
  <table>
    <tr>
      <td>参数</td>
      <td>类型</td>
      <td>说明</td>
    </tr>
    <% requestParams.forEach(it => { %>
      <tr>
        <td>
          <%= it.name %>
        </td>
        <td>
          <%= it.type %>
        </td>
        <td>
          <%= it.desc %>
        </td>
      </tr>
      <% }) %>
  </table>
  <div <%= requestExample ? '' : 'style="display:none"'%> >
    <p>请求示例</p>
    <pre><%=requestExample%></pre> 
  </div>
</section>
<section <%= responseParams.length>0 ? '' : 'style="display:none"'%> >
  <p>返回参数</p>
  <table>
    <tr>
      <td>参数</td>
      <td>类型</td>
      <td>说明</td>
    </tr>
    <% responseParams.forEach(it => { %>
      <tr>
        <td>
          <%=it.name%>
        </td>
        <td>
          <%=it.type%>
        </td>
        <td>
          <%=it.desc%>
        </td>
      </tr>
      <% }) %>
  </table>
  <div <%= responseExample ? '' : 'style="display:none"'%> >
    <p>返回示例</p>
    <pre><%=responseExample%></pre>
  </div>
</section>
<section <%= exceptions.length>0 ? '' : 'style="display:none"'%> >
  <p>异常处理</p>
  <table>
    <tr>
      <td>返回值</td>
      <td>说明</td>
    </tr>
    <tr>
      <td>
        <%=exceptions.response%>
      </td>
      <td>
        <%=exceptions.desc%>
      </td>
    </tr>
  </table>
</section>
<hr>