h2 {
  margin-bottom: 10px;
}

hr {
  margin: 0 0 20px 0;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border: none;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.body {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background-color: white;
  border: 1px solid #E2E2E2;
  padding: 10px;
}