$borderColorTable=#dfe6ec
.c-blue
  color #20A0FF
.c-red
  color #FF4949
.c-yellow
  color #F7BA2A
.c-green
  color #13CE66
.bg-yellow
  background-color yellow
.bg-green
  background-color green
.bg-grey
  background-color grey
.c-primary
  color #20a0ff
.bg-red
  background-color red
.p-r
  position relative
.p-a
  position absolute
.d-n
  display none
.d-b
  display block
.d-ib
  display inline-block
.f-1
  flex 1
.f-l
  float left
.f-r
  float right
.cl-b
  clear both
.ta-c
  text-align center
.ta-l
  text-align left
.ta-r
  text-align right
.va-t
  vertical-align top
.va-m
  vertical-align middle
.va-b
  vertical-align bottom
.c-f
  color #fff
.b-0
  bottom 0
.t-0
  top 0
.t-40
  top 40px
.l-0
  left 0
.r-0
  right 0
.mt-10
  margin-top 10px
.mt-20
  margin-top 20px
.ml-0
  margin-left 0
.ml-10
  margin-left 10px
.ml-20
  margin-left 20px
.mr-10
  margin-right 10px
.mr-20
  margin-right 20px
.mr-50
  margin-right 50px
.mb-0
  margin-bottom 0
.mb-10
  margin-bottom 10px
.pt-40
  padding-top 40px
.w-150
  width 150px
.w-200
  width 200px
.h-40
  height 40px
.cu-d
  cursor default
.cu-p
  cursor pointer
.cu-t
  cursor text
.ov-h
  overflow hidden
.ov-v
  overflow visible
.ov-x-h
  overflow-x hidden
.ov-a
  overflow auto
.ov-y-a
  overflow-y auto
.ov-y-s
  overflow-y scroll
.op-0
  opacity 0
.op-1
  opacity 1
.border-4
  border 1px solid #dfe6ec
.to-e
  text-overflow ellipsis
.nowrap
  white-space nowrap
.z-100
  z-index 100
.border-b
  border-bottom 1px solid #ccc
.us-n
  user-select none
