$borderColorTable=#dfe6ec
.c-red
  color red
.c-primary
  color #20a0ff
.p-r
  position relative
.p-a
  position absolute
.d-n
  display none
.d-b
  display block
.d-ib
  display inline-block
.f-l
  float left
.f-r
  float right
.cl-b
  clear both
.ta-c
  text-align center
.ta-l
  text-align left
.ta-r
  text-align right
.va-t
  vertical-align top
.va-m
  vertical-align middle
.c-f
  color #fff
.b-0
  bottom 0
.t-0
  top 0
.l-0
  left 0
.r-0
  right 0
.ml-0
  margin-left 0
.ml-10
  margin-left 10px
.mr-10
  margin-right 10px
.mr-20
  margin-right 20px
.mr-50
  margin-right 50px
.mb-10
  margin-bottom 10px
.w-150
  width 150px
.w-200
  width 200px
.cu-p
  cursor pointer
.cu-t
  cursor text
.op-0
  opacity 0
.op-1
  opacity 1
.border-4
  border 1px solid #dfe6ec
